

.cont{
    margin: 50px 20px 20px 20px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    width: 45%;
    height: 450px;
    background-color: black;
    align-items: center;
    justify-content: center;    
}

.contenedor-contactos{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulos{
    display: flex;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    color: white;
    text-decoration: underline;
    
}

.contenedor-tel{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.ico{
    border: 2px solid black;
    border-radius: 20px;
    width: 150px;   
    border: 20px;
    padding: 10px;
}
.conenedor-contacto{
    min-height: 400px;
    margin: 20px;
    padding: 20px;
    width: 80%;    
    font-size: 20px;    
    display: flex;
    background-color:white;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
}
.contacto{
    display:block;
    width: 100%;    
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    background-color: black;
    text-align: center;
}

.cont-but{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numero{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    border-radius: 10px;
    margin: 10px;
    background-color:white;
    color: black;
    text-align: center;
    font-weight: bold;
}
.link{
    border-radius: 10px;
    margin: 10px;
    background-color:white;
    color: black;
    text-align: center;
}

.link:hover{
    box-shadow: 2px 2px 5px #25D366;
    font-weight: bold;
    background-color: #25D366;
}
.nav-item{
    border-radius: 3px;
    margin-left: 40px;
    text-align: center;    
}


