.contenedor-servicio{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.contenedor-general{
    width: 30%;
    height: 400px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: start;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    
}
.icono-grua{
    display: flex;
    width: 50%;    
    display: flex; 
}
.icono-especial{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.icono-general{
    display: flex;
    width: 70%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}

.icono-contenedor{
    display: flex;
    width: 90%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}
.icono-terreno{
    display: flex;
    width: 80%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo-cartas{
    font-size: 2.5vw;
}

