.contenedor-servicio{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(31, 30, 30);
}

.contenedor-general{
    width: 30%;
    height: 400px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 5px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-content: start;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: black;
    background-color: rgb(248, 248, 247);
    text-decoration: none
}
.icono-grua{
    display: flex;
    width: 50%;    
    display: flex; 
}
.icono-especial{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
}
.icono-general{
    display: flex;
    width: 70%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}

.icono-contenedor{
    display: flex;
    width: 90%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}
.icono-terreno{
    display: flex;
    width: 80%;    
    display: flex;   
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo-cartas{
    font-size: 2.5vw;
}

.contenedor-general p{
    background-color: rgb(214, 249, 251);
    border-radius: 15px;

}
.contenedor-general:hover{
    box-shadow: 1px 1px 10px white;
    cursor: pointer;
}