.contenedor-somos{
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.881);
    padding-top: 40px;
    padding-bottom: 40px;
}

.texto-somos{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    
    margin-left: auto;
    margin-right: auto;    
    padding: 40px;
    width: 80%;
    
    color: black;    
    background-color: rgb(241, 226, 226);
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.parrafo-somos{
    font-size: 20px;
    margin-top: 20px ;
}